body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}

#nav-bar {
    padding: 20px 40px 0 0;
    margin-left: -5px;
}

#nav-left {
    float: left;
}

#nav-right {
    float: right;
}

a {
    color: black;
    text-decoration: none;
}

#img-form {
    margin-top: 170px;
}

input {
    width: 500px;
    margin: 20px;
    height: 35px;
    border: 1px solid lightgrey;
    border-radius: 40px;
}

input:hover {
    box-shadow: 3px 3px 5px rgba(228, 228, 228, 0.671), -3px 0 5px rgba(228, 228, 228, 0.671);
}

input:focus {
    outline: none;
}



button {
    display: inline;
    padding: 10px;
    margin: 0 6px;
    background-color: rgba(240, 240, 240, 0.788);
    border: none;
    border-radius: 4px;
}

button:hover {
    border: 1px solid rgb(211, 211, 211);
    box-shadow: 1px 1px 5px rgba(235, 235, 235, 0.671), -1px 0 5px rgba(235, 235, 235, 0.671);
}



footer {
    position: absolute;
    bottom: 1px;
    font-size: 14px;
}

#footer-ul {
    background-color: rgb(228, 228, 228);
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgba(197, 197, 197, 0.774);
}

#footer-left {
    float: left;

}

#footer-right {
    float: right;
    
}

footer a {
    color: rgb(117, 117, 117);
}